@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/animation";

@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/story";
@import "components/bg-video";
@import "components/form";

@import "layout/header";
@import "layout/grid";

@import "pages/home";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
